/* additional font faces */
@font-face{
    font-family: body;
    src: url(Fonts/ProductSans-Regular.ttf);
}
@font-face{
    font-family: head;
    src: url(Fonts/ProductSans-Bold.ttf);
}

/* overall webpage styling */
*{
    padding: 0;    
    margin: 0;
}

/* guideline styling */
.guideBody{
    font-family: body;
    margin-bottom: 30px !important;
    text-align: justify;
}
.guideHead{
    font-family: head;
    text-decoration: underline;
}
.guideLineSpecial{
    padding-top: 5px;
    padding-bottom: 5px;
}
p>strong{
    text-decoration: underline;
}

/* main body styling */
.mainBody{
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    border: 3px solid #e7e7e7;
    border-radius: 8px;
    min-width: fit-content;
    max-width: max-content;
    min-height: fit-content;
    max-height: max-content;
    margin: auto;
    align-content: center;
    background-color: lightgrey;
}
.spacer{
    margin: 30px;
}
.btns{
    text-align: center;
}

/* application title styling */
.title{
    text-align: center;
}
.titleHead{
    font-family: head;
    text-decoration: underline;
    font-size: 32;
    padding-top: 20px;
}
.titleImg{
    padding-top: 10px;
    width: 145px;
    height: 150px;
    padding-left: 20px;
}

/* input field styling */
.inputField{
    text-align: center;
}
.userInput{
    border-radius: 5px;
    font-family: body;
    font-size: 20px;
    padding: 5px;
    width: 275px
}
.addBtn{
    font-family: head;
    border-radius: 5px;
    font-size: 20px;
    width: max-content;
    height: max-content;
    padding: 5px;
    margin-left: 8px;
}

/* buttons styling */
.button{
    font-family: body;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    align-content: center;
    margin: 3px;
    cursor: pointer;
    transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
    background-color: white;
    color: black;
    border: 2px solid #e7e7e7;
}
.editBtn:hover{
    background-color: rgb(6, 221, 250);
    box-shadow: 0 12px 16px 0 rgba(15,170,250,0.4),0 17px 50px 0 rgba(65,190,250,0.5);
}
.deleteBtn:hover{
    background-color: rgb(255, 80, 80);
    box-shadow: 0 12px 16px 0 rgba(255, 7, 7, 0.3),0 17px 50px 0 rgba(255,49,49,0.4);
}
.addBtn:hover, .doneBtn:hover{
    background-color: rgb(0, 180, 0);
    box-shadow: 0 12px 16px 0 rgba(7,180,7,0.6),0 17px 50px 0 rgba(49, 180, 49, 0.55);
}
.button:active{
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
/* Btns in each task (done, edit, delete) */
.doneBtn{
    margin-left: 80px;
    margin-block-end: auto;
}
.editBtn, .deleteBtn{
    margin-left: 10px;
}

/* history log styling */
.List{
    margin-top: 45px;
    border: 2px solid #e7e7e7;
    text-align: center;
}
.listHead{
    font-family: head;
    text-decoration: underline;
}
#todoList{
    font-family: body;
    text-decoration: none;
    margin-top: 5px;    
    text-align: left;
    margin-left: 20px;
    padding-left: 10px;
}
.todoItem{
    padding-left: 10px;
}

/* edit, done and delete classes (to be used in the list tasks) */
.doneTask{
    text-decoration: line-through;
    background-color: #666;
}

/* last button styling */
.delBtn{
    text-align: center;
    align-items: center;
    font-family: head;
    border-radius: 5px;
    font-size: 20px;
    width: max-content;
    height: max-content;
    padding: 5px;
}
.clearList{
    text-align: center;
    margin-top: 25px;
}

/* credits styling */
.credits{
    font-family: body;
    color: black;
    text-align: center;
    border: solid 2px black;
    border-radius: 20px;
    background-color: lightgrey;
}